#オブジェクトファイルは無視
*.o
#エラーファイルは無視
*.e
#jupyterは無視
*.ipynb
#jupyter関連は全部無視
.ipynb*
#実行ファイルもできれば無視
*.out
#結果は無視
result
#testフォルダも無視
test
#testsubフォルダも無視
testsub
#pythonlandも無視
pythonland
#なんか変なログが出ても無視
*.log
#出力ファイルは無視
File*
